<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<controls>
			<control id="Custom.ColorBuddy"
					 type="Sitecore.CustomFields.RangeSelector.Project.RangeSelector, Sitecore.CustomFields.RangeSelector.Project"
					 assembly="Sitecore.CustomFields.RangeSelector.Project" />
		</controls>
	</sitecore>
</configuration>